<h1>Create Post</h1>

<form action="<%= posts_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>Title
    <input type="text" name="post[title]">
  </label>
  <label>URL
    <input type="text" name="post[url]">
  </label>
  <label>What do you wanna say?
    <textarea name="post[content]" rows="8" cols="80">Hi!</textarea>
  </label>
  <label>What subs do you want to post to?</label>

  <% Sub.all.each do |sub| %>
    <label><%= sub.title %>
      <input
        type="checkbox"
        value="<%= sub.id %>"
        name="post[sub_ids][]"
        <%= "checked" if @post.sub_ids.include?(sub.id) %>
      />
    </label>
  <% end %>
  <input type="submit" value="Create Post">
</form>
